// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet');


// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';




.nav-link {
    font-weight: bold;
    color: #30477a;
}


.card-text {
    font-size: 15px;
    line-height: 15px;
}


.button-group {
    display: flex;
    margin-top: 5px;
    gap: 10px;
}

.btn {
    margin-left: 5px;
}
  
.badge bg-primary rounded-pill {
    margin-left: 5px;
}

.progress {
    margin-bottom: 5px;
}



.card-footer {
    display: flex;
    justify-content: space-between;
}

.add-tag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.tag-line {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    gap: 3px;
}



